<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="../../Content/CSS/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/CSS/bootstrap-theme.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="../../Content/CSS/jquery-ui.min.css" rel="stylesheet">
    <link href="../../Content/CSS/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="../../Content/CSS/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="../../Content/CSS/style.css" rel="stylesheet">

    <script src="~/Content/Scripts/jquery-1.11.2.min.js"></script>
    @RenderSection("scripts", required: false)

    <script src="../../Content/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/bootbox.min.js"></script>
    <script src="../../Content/Scripts/custom.js"></script>

</head>
<body>
    <div id="wrap">
        <header id="main-navbar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <h6 class="text-uppercase" style="font-weight: bold; color: white; margin: 0;">Secure Client Side Duplication</h6>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" id="menuToggle">
                        <span aria-hidden="true" class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right" id="user">
                <li class="dropdown">
                    <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="../../Content/Images/avatars.png">
                        <span>Welcome</span>&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li>
                            <a href="@Url.Action("Changepassword", "Account")">Change Password</a>
                        </li>
                        <li>
                            @Html.ActionLink("Log Out", "Logout", "Account")
                        </li>
                        
                    </ul>
                </li>
                <li class="logout">
                    @Html.ActionLink("Logout", "Logout", "Account")
                </li>
            </ul>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div id="container" class="active">
                    <aside id="sidebar">
                        <ul id="menu" class="nav nav-pills nav-stacked">
                            <li class="@Html.Raw(ViewBag.Entity == "Dashboard" ? "active" : "")"><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
                            <li class="@Html.Raw(ViewBag.Entity == "UploadList" ? "active" : "")"><a href="@Url.Action("UploadList", "Upload")">Upload File List</a></li>
                            <li class="@Html.Raw(ViewBag.Entity == "UploadFile" ? "active" : "")"><a href="@Url.Action("UserUpload", "Upload")">Upload File</a></li>
                            @*<li class="@Html.Raw(ViewBag.Entity == "ChangePassword" ? "active" : "")"><a href="@Url.Action("Changepassword", "Account")">Change Password</a></li>*@
                        </ul>
                    </aside>
                    <section id="main">
                        @RenderBody()
                    </section>
                    <footer id="footer">
                        <div class="row">
                            <p>&copy; Copyright Infomill. All rights Reserved</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
