@model IEnumerable<SCSD.DTO.Model.UploadList>

@{
    ViewBag.Title = "My File List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Dashboard", "Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Dashboard</a></li>
        <li class="active">My File List</li>
    </ol>
</div>
<div class="col-sm-12">
    <h1>My List</h1>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @{ string name = item.FileName.Length < 20 ? item.FileName : item.FileName.Remove(17) + "...";}
                    @name
                    <a href="@Url.Action("DeleteFile", "Upload", new { FileId = item.FileId })"><span class="glyphicon glyphicon-remove" style="float: right; padding-right: 2%; cursor: pointer;" aria-hidden="true" title="REMOVE"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-share" style="float: right; padding-right: 2%; cursor: pointer;" aria-hidden="true" title="SHARE"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-edit" style="float: right; padding-right: 2%; cursor: pointer;" aria-hidden="true" title="EDIT"></span></a>
                </div>
                <div class="panel-body">
                    <img src="@Url.Action("GetBanar", "Upload", new { BanarId = item.BanarId })" class="img-thumbnail col-sm-3" />
                    <p class="col-sm-9">@item.Description</p>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary" href="@Url.Action("GetDocument", "Upload", new { FileId = item.FileId })">Download</a>
                </div>
            </div>
        </div>
    }
</div>


